.header-wrapper {
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 20px -30px rgba(0, 0, 0, 0.3);
}
.chats-body {
  background-image: url("../images/snow-1.gif");
}
.chats-body {
  padding: 0;
  padding-top: 100px;
  min-height: 200vh;
}
.chats-body .status-bar {
  padding: 10px 20px;
  padding-bottom: 0px;
}
.chats-body .header {
  padding: 0px 20px;
}
.chat__write--container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;

  bottom: 0px;
  align-items: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}
@keyframes float {
  0% {
    transform: translateY(-100px);
    box-shadow: 0 14px 18px -1px rgba(50, 50, 93, 0.25),
      0 30px 60px -13px rgba(0, 0, 0, 0.3),
      inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  }
  50% {
    transform: scale(1.01) translateY(-100px);
    box-shadow: 0 14px 18px 10px rgba(50, 50, 93, 0.25),
      0 30px 60px -13px rgba(0, 0, 0, 0.3),
      inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  }
  100% {
    transform: translateY(-100px);
    box-shadow: 0 14px 18px -1px rgba(50, 50, 93, 0.25),
      0 30px 60px -13px rgba(0, 0, 0, 0.3),
      inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  }
}
.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 15px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.chat__write:focus {
  outline: none;
  width: 80%;

  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 14px 18px -1px rgba(50, 50, 93, 0.25),
    0 30px 60px -13px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  animation: float 1.5s ease-in-out infinite forwards;
}
.chat__icon {
  font-size: 20px;
  transition: opacity 0.1s ease-in-out;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__write i {
  font-size: 22px;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}
.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(219, 218, 123, 0.5) 0px 13px 20px 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.message {
  display: flex;
  align-items: flex-start;

  margin-bottom: 20px;
}

.incoming-message {
  align-self: flex-start;
}
.sent-message {
  align-self: flex-end;
}

.incoming-message img {
  border-radius: 15px;
  margin-right: 25px;
  box-shadow: 0 14px 18px -1px rgba(50, 50, 93, 0.25),
    0 30px 60px -13px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
}
.message .message__bubble {
  background-color: white;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  display: block;
}
.incoming-message .message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}
.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to left, #d6d59c, #fff);
}
.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #d6d59c, #fff);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.incoming-message {
  animation: incomingAnim 0.5s ease-in-out forwards;
}
@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.sent-message {
  animation: sentAnim 0.5s ease-in-out forwards;
}
