.friends .friends__plus {
  padding: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin-top: 20px;
  margin-bottom: 20px;
}
.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}
.friendsbody .header .header__title,
.findbody .header .header__title {
  text-shadow: 2px 5px 5px white;
  animation: flow 1s ease-in-out infinite;
}
@keyframes flow {
  0% {
    transform: none;
    text-shadow: 2px 5px 5px white;
  }
  50% {
    transform: scale(1.1);
    text-shadow: 5px 10px 5px white;
  }
  100% {
    transform: none;
    text-shadow: 2px 5px 5px white;
  }
}
